# Yad2 Web Scraping
<img src="images/yad2Logo.png" alt="drawing" width="300"/>

### Goals:
1) Scrap data to local computer for price statistics according to various parameters (area, number of rooms, floor, city and neighborhood).
2) Create An interactive heat map for a convenient comparison of prices by area and house data as following:

<img src="images/heat_map_example.png" alt="drawing" width="300"/>

In [1]:
from general_scraper import *

Created HEADERS:
{'Accept': 'application/json, text/plain, */*', 'Accept-Encoding': 'gzip, deflate, br', 'Accept-Language': 'he-IL,he;q=0.9,en-US;q=0.8,en;q=0.7', 'Connection': 'keep-alive', 'Host': 'www.yad2.co.il', 'mobile-app': 'false', 'Referer': 'https://www.yad2.co.il/realestate/forsale', 'sec-ch-ua': '"Google Chrome";v="107", "Chromium";v="107", "Not=A?Brand";v="24"', 'sec-ch-ua-platform': '"Windows"', 'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36', 'Cookie': '__uzma=04452ec1-f722-4845-89d5-e6faf90afd1d; __uzmb=1667759688; __uzmc=398041043540; __uzmd=1667759688; __uzme=5861; '}

## Get data of posts from first 1000 pages (orderd by date)

In [2]:
# change "last_page_num" to the count of pages you want to scrape
last_page_num = 10

## Convert to pandas DataFrame

In [3]:
df = get_posts_DataFrame(last_page_num=last_page_num)
df

,price,address,city,type,rooms,floor,size,update,scrap_date
0,3150000,שדרות בגין 55,כפר יונה,גג/פנטהאוז,5,5,250,2022/11/06,2022/11/06
1,2200000,אירוס הארגמן 52,נתניה,דירה,4,2,84,2022/11/06,2022/11/06
2,880000,בר גיורא 42,חיפה,דירה,3,1,76,2022/11/06,2022/11/06
3,3100000,תוצרת הארץ 5,תל אביב יפו,דירה,2,16,66,2022/11/06,2022/11/06
4,1836000,שדרות ששת הימים 327,אילת,דירה,3,3,106,2022/11/06,2022/11/06
...,...,...,...,...,...,...,...,...,...
172,3200000,אחוזה,חיפה,גג/פנטהאוז,6,4,150,2022/11/06,2022/11/06
173,2190000,נחל תמנע,בית שמש,דירה,4,2,100,2022/11/06,2022/11/06
174,2540000,הנביאים 11,בת ים,גג/פנטהאוז,3,7,85,2022/11/06,2022/11/06
175,3780000,"לב תל אביב, לב העיר צפון",תל אביב יפו,דירה,2,1,72,2022/11/06,2022/11/06
176,7100000,"לב תל אביב, לב העיר צפון",תל אביב יפו,דירה,4,3,135,2022/11/06,2022/11/06

## Save to your local computer

In [ ]:
df.to_excel('Houses.xlsx', index=False)

# Result
1) Upload the table to [your own Google Sheets](https://docs.google.com/spreadsheets/u/0/).
2) Build a dashbord in [google Looker (data studio)](https://datastudio.google.com/u/0/).
3) Visit my [dashbord](https://datastudio.google.com/embed/reporting/90738cd2-b077-4b71-9b46-25bb2ce8e4c6/page/V806C)! (takes few seconds)