# Yad2 Web Scraping
<img src="images/yad2Logo.png" alt="drawing" width="300"/>

### Goals:
1) Scrap data to local computer for price statistics according to various parameters (area, number of rooms, floor, city and neighborhood).
2) Create An interactive heat map for a convenient comparison of prices by area and house data as following:

<img src="images/heat_map_example.png" alt="drawing" width="300"/>

In [1]:
from general_scraper import *

Created HEADERS:
{'Accept': 'application/json, text/plain, */*', 'Accept-Encoding': 'gzip, deflate, br', 'Accept-Language': 'he-IL,he;q=0.9,en-US;q=0.8,en;q=0.7', 'Connection': 'keep-alive', 'Host': 'www.yad2.co.il', 'mobile-app': 'false', 'Referer': 'https://www.yad2.co.il/realestate/forsale', 'sec-ch-ua': '"Google Chrome";v="107", "Chromium";v="107", "Not=A?Brand";v="24"', 'sec-ch-ua-platform': '"Windows"', 'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36', 'Cookie': '__uzma=d7329b3c-08b7-4a93-bf87-56b5cd1ac5a4; __uzmb=1668354990; __uzmc=750231085645; __uzmd=1668354990; __uzme=7327; '}

## Get data of posts from first 30 (or more) pages (orderd by date)

In [2]:
df = get_posts_DataFrame(30, Product.houses)
df

,price,address,city,type,rooms,floor,size,update,scrap_date
0,2650000,קיבוץ גלויות 4,חולון,דירה,5,1,120,2022/11/13,2022/11/13
1,2540000,המפוחית 2,ראשון לציון,דירה,3,4,77,2022/11/13,2022/11/13
2,1836000,שדרות ששת הימים 327,אילת,דירה,3,3,106,2022/11/13,2022/11/13
3,2550000,גבע 33,נתניה,דירה,4,1,94,2022/11/13,2022/11/13
4,2000000,שרה 7,חיפה,דירה,6,1,123,2022/11/13,2022/11/13
...,...,...,...,...,...,...,...,...,...
547,6200000,"הגוש הגדול, רמת אביב החדשה, נופי ים",תל אביב יפו,דירה,5,1,130,2022/11/13,2022/11/13
548,7800000,"הגוש הגדול, רמת אביב החדשה, נופי ים",תל אביב יפו,דירה,5,8,130,2022/11/13,2022/11/13
549,2820000,ה' באייר,ראש העין,דירת גן,4,1,93,2022/11/13,2022/11/13
550,2560000,אהבת אדם,כפר יונה,דירה,4,5,101,2022/11/13,2022/11/13
551,5580000,חנה רובינא,הרצליה,דירה,5,3,130,2022/11/13,2022/11/13

## Save to your local computer

In [ ]:
df.to_excel('Houses.xlsx', index=False)

# Result
1) Upload the table to [your own Google Sheets](https://docs.google.com/spreadsheets/u/0/).
2) Build a dashbord in [google Looker (data studio)](https://datastudio.google.com/u/0/).
3) Visit my [dashbord](https://datastudio.google.com/embed/reporting/90738cd2-b077-4b71-9b46-25bb2ce8e4c6/page/V806C)! (takes a few seconds)

# Cars example

In [3]:
df = get_posts_DataFrame(30, Product.cars)
df

,brand,brand2,price,year,hand,engine_size,automatic_trans,hourse_power,type
0,פורד פוקוס,Trend סטיישן 1.6,"25,000 ₪",2014,2,"1,596",True,125,unknown
1,רנו קוליאוס,4X4 E21 2.5,"16,000 ₪",2009,4,"2,486",True,170,unknown
2,פורד אקספלורר,4X4 Limited Premium 7 מק' 3.5,"215,000 ₪",2019,1,"3,497",True,290,unknown
3,סוזוקי SX4 קרוסאובר,GLX 1.6,"54,000 ₪",2015,1,"1,586",True,118,unknown
4,טויוטה לנד קרוזר V8,4X4 Luxury 4.7,"180,000 ₪",2008,4,"4,664",True,288,unknown
...,...,...,...,...,...,...,...,...,...
1039,ב.מ.וו סדרה 4,420I M-Sport קופה 2.0,לא צוין מחיר,2022,1,"1,998",True,184,unknown
1040,מרצדס E-Class,E300DE AMG Line הייב 2.0 ק'-2,"469,900 ₪",2021,1,"1,991",True,194,דיזל
1041,פיג'ו 208,Active 1.6,"24,000 ₪",2013,2,"1,598",True,120,unknown
1042,טסלה מודל Y,4X4 Long Range,לא צוין מחיר,2022,0,None,True,514,חשמלי
1043,סקודה סופרב (2019 ואילך),Sport Style 1.4,"244,900 ₪",2021,1,"1,395",True,156,הייבריד